html, body, #grid {
    margin: 0;
    height: 100%;
}

.grid-row {
    display: flex;
}

.grid-item {
    box-sizing: border-box;
    background-color: white;
}

.mouseover-background {
    background-color: skyblue;
}